<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>The Travel App</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1039197645783-4fverulb9vj5kfab2aq511jf1vg7krg8</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb2169362560002385</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>twitterkit-FANVwkR4V1qH7wl2OiDB53XPJ</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>12</string>
	<key>FacebookAppID</key>
	<string>2169362560002385</string>
	<key>FacebookDisplayName</key>
	<string>Travel App</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>twitter</string>
		<string>twitterauth</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>To let you take pictures of your documents.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>A service provider has location features that are not active.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>A service provider has location features that are not active.</string>
	<key>NSLocationUsageDescription</key>
	<string>A service provider has location features that are not active.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>A service provider has location features that are not active.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>To record video</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>A service provider has location features that are not active.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-SemiBold.otf</string>
		<string>Montserrat-Bold.otf</string>
		<string>SignPainter HouseScript Regular.ttf</string>
		<string>Avenir-Medium.ttf</string>
		<string>OpenSans-Semibold.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-Medium.otf</string>
		<string>OpenSans-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
